@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilizando a barra de rolagem para todos os navegadores modernos */
::-webkit-scrollbar {
  width: 0; /* Largura da barra de rolagem */
}

.scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 200px; /* Largura do container visível */
  white-space: nowrap;
}

.scroll-animation {
  display: inline-block;
  animation: scroll-animation 10s linear infinite;
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
